body {
    font-family: "Times New Roman", cursive;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

.container {
    flex: 1;
    max-width: 600px;
}

#photoDroite {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    max-width: 300px;
    max-height: 100vh;
    object-fit: cover;
    border-radius: 10px;
}

#photoGauche {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    max-width: 400px;
    max-height: 200vh;
    object-fit: cover;
    border-radius: 10px;
}

#photoGauche {
    left: 50px;
}

#photoDroite {
    right: 115px;
}

button {
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px;
    transition: all 0.3s ease;
    position: relative;
}

#ouiBtn {
    z-index: 1;
}

#nonBtn {
    z-index: 0;
}

#message {
    margin-top: 20px;
    font-size: 22px;
    color: black;
    font-weight: bold;
}

#gifAmour {
    display: none;
    margin: 20px auto;
    max-width: 350px;
    border-radius: 10px;
}